body {
  background-color: #e5e5e5;
  font-family: "Roboto", normal;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}
.header__container hr {
  border: 1px solid #e5e5e5;
  width: 100%;
}

.header__head {
  width: 100%;
  background: #efefef;
}

.header__head_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;
  height: auto;
  margin: 17px auto;
}

.header__head_item {
  font-size: 14px;
  margin: 0 30px;
  color: #333333;
}

.header__head_item:first-child {
  margin: 0 30px 0 0;
}

.header__head_item:last-child {
  margin: 0 0 0 30px;
}

.header__head_item a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}

.header__search {
  display: flex;
  width: 60%;
  margin: 40px 0;
  align-items: center;
}

.header__search_logo {
  display: flex;
  align-items: center;
}

.header__search_logo_name {
  margin-left: 20px;
  font-size: 42px;
  color: #f13c6e;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.header__search_logo_name a {
  text-decoration: none;
  color: #f13c6e;
}

.header__search_input {
  position: relative;
  margin-left: 170px;
  margin-right: 90px;
  background: #efefef;
  border-radius: 40px;
  border: white;
  height: 40px;
  width: 250px;
  background-image: url(./img/Vector.png);
  background-repeat: no-repeat;
  background-position: 2.27% !important;
  text-align: center;
}
.header__search_input:focus {
  outline: none;
}

.header__search_input_img {
  position: absolute;
  right: 50%;
  background: #bdbdbd;
  height: 20px;
  width: 20px;
}

.header__search_tel {
  display: flex;
}

.header__search_phone {
  margin-right: 40px;
}

.header__search_feedback {
  border: 2px solid #f13c6e;
  border-radius: 40px;
  padding: 12px 26px;
  font-size: 14px;
}

.header__nav_bar_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  width: fit-content;
  height: auto;
  margin: 30px auto;
}

.header__nav_bar_item {
  margin: 0 40px;
}

.header__nav_bar_item:first-child {
  margin: 0 40px 0 0;
}

.header__nav_bar_item:last-child {
  margin: 0 0 0 40px;
}

.header__nav_bar_item a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}

.special-offers-text__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.special-offers-text {
  width: 60%;
}
.special-offers-text > p {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.offers-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.offers-container__product {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__special-offers {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media only screen and (max-width: 800px) {
  .product__special-offers {
    width: 46%;
    margin-bottom: 8%;
  }
}
@media only screen and (max-width: 425px) {
  .product__special-offers {
    width: 92%;
    margin-bottom: 8%;
  }
}
.product__special-offers > p {
  text-align: center;
  margin: 0 20px 10px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.69px;
}

.product__special-offers > p + p {
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
  color: #000000;
}
.product__special-offers > img {
  margin: 20px;
  max-width: 100%;
}
.btn-buy {
  border-radius: 30px;
  border: none;
  background-color: #f13c6e;
  color: white;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  max-width: 90%;
  margin: 20px;
}
