body {
  background-color: #e5e5e5;
  font-family: "Roboto", normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}
.header__container hr {
  border: 1px solid #e5e5e5;
  width: 99vw;
  margin: 0;
}

.header__head {
  width: 100%;
  background: #efefef;
}

.header__head_list {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: fit-content;
  margin: 17px auto;
}

.header__head_item {
  margin-right: 30px;
  color: #333333;
}

.header__head_item a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}
.header__search_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__search {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.header__search_logo {
  display: flex;
  align-items: center;
}

.header__search_logo_name {
  margin-left: 20px;
  font-size: 42px;
  color: #f13c6e;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.header__search_logo_name a {
  text-decoration: none;
  color: #f13c6e;
}

.header__search_input {
  position: relative;
  margin-left: 15%;
  margin-right: 5%;
  background: #efefef;
  border-radius: 40px;
  border: white;
  height: 40px;
  min-width: 10vw;
  width: 250px;
  background-image: url(/img/search_svg.png);
  background-repeat: no-repeat;
  background-position: 2.27% !important;
  text-align: center;
}
.header__search_input:focus {
  outline: none;
}

.header__search_input_img {
  position: absolute;
  right: 50%;
  background: #bdbdbd;
  height: 20px;
  width: 20px;
}
.header__search_phone {
  margin-right: 40px;
  min-width: 103px;
}
.header__search_phone a,
.header__search_feedback a {
  text-decoration: none;
  color: #000;
}

.header__search_feedback {
  border: 2px solid #f13c6e;
  border-radius: 40px;
  padding: 12px 26px;
}

.header__nav_bar_list {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 30px auto;
}

.header__nav_bar_item {
  margin-right: 40px;
}

.header__nav_bar_item:last-child {
  margin: 0;
}

.header__nav_bar_item a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}

.super__offer {
  background-image: url(/img/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  margin-bottom: 80px;
}
.super__offer_content {
  color: white;
  margin: auto;
  width: 60%;
}

.super__offer_content_title {
  font-size: 48px;
}

.super__offer_content_desc {
  margin: 50px 0;
  line-height: 20px;
}

.super__offer_content_btn {
  border: 2px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  border-radius: 40px;
  padding: 12px 26px;
  text-align: center;
}
.super__offer_content_btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.special-offers-text__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.special-offers-text {
  width: 60%;
}
.special-offers-text > p {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.offers-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.offers-container__product {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__special-offers {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.product__special-offers > img {
  margin: 20px 20px 20px 20px;
  max-width: 100%;
}
@media only screen and (max-width: 1024px) {
  .header__search_input {
    margin: auto !important;
  }
  .header__search_logo_name {
    display: none;
  }
  .header__search_phone {
    display: none;
  }
  .header__search_phone a {
    margin: 0;
  }
  .header__search_feedback {
    text-align: center;
  }
  .header__nav_bar_list {
    display: block;
    text-align: center;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 50vw;
    column-gap: 25px;
  }
  .header__nav_bar_item {
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  .product__special-offers {
    width: 46%;
    margin-bottom: 8%;
  }

  .header__head_item {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .header__search {
    width: 90%;
  }
  .super__offer {
    background-position: 60%;
  }
  .product__special-offers {
    width: 92%;
    margin-bottom: 8%;
  }
  .header__head_list {
    display: block;
    columns: 2;
    -webkit-column: 2;
    -moz-columns: 2;
    column-gap: 150px;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .header__search {
    width: 100%;
  }
  .header__nav_bar_list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .product__special-offers {
    width: 92%;
    margin-bottom: 8%;
  }
}

.product__special-offers > p {
  text-align: center;
  margin: 0 35px 10px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.69px;
}

.product__special-offers > p + p {
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
  color: #000000;
}
.product__special-offers > img {
  margin: 20px 20px 10px 20px;
  max-width: 100%;
}
.btn-buy {
  border-radius: 30px;
  border: none;
  background-color: #f13c6e;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  max-width: 90%;
  margin: 0 20px 25px;
  font-weight: 400;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 100px;
}
.footer__categories {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.footer__category {
  width: 23%;
}
.footer__line {
  width: 100%;
  border: 1px solid #efefef;
  margin-top: 60px;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 99px;
  height: 40px;
}
.footer__paragraph {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  text-decoration: none;
  line-height: 28px;
}
.footer__paragraph:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__hr {
  width: 100%;
  border: 1px solid #efefef;
}
.footer__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  background: #efefef;
}
.footer__infobottom {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
.footer__information {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 90%;
  align-self: center;
  margin-bottom: 30px;
}
.footer__infoprg {
  width: 70%;
}
.footer__telephone {
  display: flex;
  flex-direction: row;
}
.footer__button {
  width: 170px;
  height: 40px;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 0.2rem;
}
.footer__button:hover {
  cursor: pointer;
  background-color: #f13c6e;
  color: white;
}
.footer__sites {
  display: flex;
  flex-direction: row;
  width: 46%;
  justify-content: center;
}
.footer__youtube,
.footer__instagram,
.footer__facebook,
.footer__vk {
  border-radius: 50%;
  width: 46px;
  height: 42px;
  border: 2px solid #f13c6e;
  display: flex;
  align-items: center;
  margin-left: 2%;
  justify-content: center;
}
.footer__img {
  width: 24px;
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__phone {
  color: black;
  text-decoration: none;
  margin-top: 0.9rem;
  font-size: 14px;
  min-width: 115px;
}
.footer__phone:hover,
.footer__infolink:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__infolink {
  color: #828282;
  text-decoration: none;
  margin-top: 1rem;
}
.footer__redirect {
  width: 37%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__adress {
  font-size: 14px;
}
.footer__telephone {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer__youtube,
  .footer__vk,
  .footer__instagram,
  .footer__facebook {
    width: 40px;
    height: 37px;
  }
  .footer__img {
    display: flex;
    justify-content: center;
  }
  .footer__sites {
    width: 33%;
    display: flex;
    justify-content: start;
  }
  .footer__information {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .footer__redirect {
    width: 34%;
    font-size: 12px;
  }
  .footer__adress {
    font-size: 10px;
  }
  .footer__phone {
    margin-top: 0.6rem;
    font-size: 12px;
  }
  .footer__button {
    width: 140px;
    height: 40px;
    font-size: 10px;
  }
  .footer__infoprg {
    font-size: 10px;
  }
  .footer__infolink {
    font-size: 10px;
    margin-top: 0.32rem;
    display: flex;
    flex-direction: row;
  }
  .footer__infobottom {
    display: flex;
    justify-content: space-between;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__paragraph {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .footer__container {
    margin-top: 40px;
  }
  .footer__categories {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .footer__title {
    font-size: 16px;
    align-self: center;
  }
  .footer__paragraph {
    font-size: 12px;
    text-align: center;
    align-self: center;
  }
  .footer__category {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  .footer__information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__redirect {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 36%;
  }
  .footer__adress {
    font-size: 14px;
    text-align: center;
  }
  .footer__telephone {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
  }
  .footer__phone {
    font-size: 16px;
    text-align: center;
  }
  .footer__infobottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__instagram,
  .footer__vk,
  .footer__youtube,
  .footer__facebook {
    width: 37px;
    height: 33px;
  }
  .footer__img {
    width: 13px;
    height: 12px;
    display: flex;
    justify-content: center;
  }
  .footer__button {
    align-self: center;
  }
  .container__child {
    display: flex;
    /* width: 100% !important; */
    flex-direction: column;
    align-items: center;
  }
  .message__style {
    margin: 10px 0;
    display: flex;
  }
  .offers-container__product {
    justify-content: center;
  }
}


.container__services {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__table {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__child {
  width: 60%;
  display: flex;
  justify-content: space-between;
  min-width: 310px;
}

.flex__container {
  display: flex;
  min-width: 310px;
}

.message__style {
  background: #F13C6E;
  width: 49%;
}

.message__header {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.message__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.message__input {
  padding: 30px 0 0 20px;
}

.impuls__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message__input__style {
  width: 60%;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding: 7px 25px 7px 25px;
}

.message__input__placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 30px;

  color: #C4C4C4;
}

.message__container__child {
  justify-content: space-between;
  align-items: center;
}

.gap {
  gap: 4%
}

.message__header {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}


.shipping__header {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  padding: 35px 20px 15px 40px;
}

.message__text {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
  color: #FFFFFF;
}

.shipping__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 20px 100px 10px 20px;
  color: #FFFFFF;
}

.shipping__btn {
  padding: 27px 20px 30px 20px;
}

.shipping__btn__style {
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 7px 28px 7px 29px;
  color: rgba(255, 255, 255, 1);

}

.van {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  
}

.van__style {
  max-width: 100%;
  width: 10%;
  height: 70%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.impuls {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 60%;
}

.impuls__style {
  background-color: rgba(255, 255, 255, 1);
  width: 1110px;
  height: 357px;
  display: flex;
  justify-content: space-between;
  padding: 35px 60px 35px 60px;
  flex-direction: column;
}

.flex__between {
  display: flex;
  justify-content: space-between;
}

.inpuls__border__top {
  border-top-style: 1px solid rgba(239, 239, 239, 1);
}

.inpuls__border__right {
  border: 1px solid rgba(239, 239, 239, 1);
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.inpuls__border__bottom {
  border: 1px solid rgba(239, 239, 239, 1);
  border-top-style: none;
  border-left-style: none;
}

.inpuls__border__bottom__bottom {
  border: 1px solid rgba(239, 239, 239, 1);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.impuls__bottom {
      border: 1px solid rgba(239, 239, 239, 1);
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
}

.inpuls__border__left {
  border-left-style: 1px solid rgba(239, 239, 239, 1);
}

.border1 {
  border: 1px solid black;
}

.border1 {
  border: 1px solid black;
}

.impuls-x {
  padding: 20px 60px 20px 60px
}

.impuls__bg {
  width: 60%;
  background-color: white;
}

.impuls__padding {
  padding-top: 100px;
}

.impuls__padding__bottom {
  padding-bottom: 80px;
}

.impuls__img {
  max-width: 100%;
}

@media only screen and (max-width: 1750px) {
  .shipping__header {
      display: flex;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 35px 20px 15px 20px;
  }

  .message__text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding: 20px 10px 10px 20px;
      color: #FFFFFF;
  }

  .shipping__text {
      display: flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding: 20px 10px 10px 20px;
      color: #FFFFFF;
  }

  .impuls-x {
      padding: 20px 60px 20px 60px
  }
  .van {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;
      padding: 0;
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
  }

  .van__style {
      max-width: 100%;
      display: flex;
  }
  
  .container__child {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
  }
  
  .flex__container {
      display: flex;
  }

  .message__input {
      padding: 0;
      display: flex;
      justify-content: center;
  }
  
  .message__input__style {
      width: 60%;
      background: #FFFFFF;
      border-radius: 30px;
      border: none;
      padding: 7px 25px 7px 25px;
  }
  
  .message__input__placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding-left: 30px;
  
      color: #C4C4C4;
  }
  
  .message__img {
      display: flex;
      justify-content: center;
      padding: 0;
  }

  .message__header {
      display: flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      padding: 25px 0 0 10px;
  }

  .shipping__btn {
      padding: 0 0 0 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  .shipping__btn__style {
      background: #F13C6E;
      border: 2px solid #FFFFFF;
      border-radius: 30px;
      padding: 7px 10px 7px 10px;
      color: rgba(255, 255, 255, 1);
  
  }

  .message__img__style {
      max-width: 70%;
      display: flex;
      justify-content: center;
      align-self: center;
  }

  .container__child {
      width: 77.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
  }

  .message__style {
      background: #F13C6E;
      width: 77.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      

  }

}

@media only screen and (max-width: 1000px) {
  .impuls__row {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
  }

  .inpuls__border__bottom {
    border: 1px solid rgba(239, 239, 239, 1);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
  }

  .inpuls__border__right {
    border: 1px solid rgba(239, 239, 239, 1);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  }

  .inpuls__border__bottom__bottom {
    border: 1px solid rgba(239, 239, 239, 1);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
  }
}


@media only screen and (max-width: 500px) {
  .impuls__row {
      display: flex;
      flex-direction: column;
  }

  .container__child {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }

  .message__style {
      background: #F13C6E;
      width: 60%;
      display: flex;
      flex-wrap: wrap;

  }
  .flex__container {
    display: flex;
    min-width: auto
  }

}